<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create campground</title>
</head>
<body>
    <h1>Create campground</h1>
    <form action="/campgrounds" method="POST">
        <label for="campname">Camp title</label>
        <input type="text" name="campground[title]" id="campname">
        <label for="location">Location</label>
        <input type="text" name="campground[location]" id="location">
        <button>Submit</button>
    </form>
    <p><a href="/campgrounds">Back to index</a></p>
</body>
</html>